button{
    display: flex;
    font-size: 30px;
    color: black;
    background-color: aqua;
}
#box1, #box2, #box3, #box4, #box5, #box6 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    opacity: 0; 
}

#box1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfU9-X8MCvzIu3eVEQLi6-T8rakf-XNieg1g&s'); /* Replace with your image path */
}
#box2 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn9DDOH-0D-NAl4n1NIYLXdmZ9gpsvh-ekqA&s');
}
#box3 {
    background-image: url('https://static-00.iconduck.com/assets.00/dice-six-faces-two-icon-256x256-fvq3qpra.png');
}
#box4 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVXwMKSGhAJ9dQOazYfcLGZET76MjGl4S_iCLqRM4KBqA98jBKqGMWwVFYc5pXW3JRPYA&usqp=CAU');
}
#box5 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ16jpMhtg0De8yiMMYnnNdu7DVnHgiNR3Bkwnsrt0XsXrpsn2J_Igac5aA0rU9EEKIPUM&usqp=CAU');
}
#box6 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkenzvXkB-jtJaulzmiSEFfMoUlKVUGt4Oxw&s');
}

